@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
  scroll-behavior: smooth;

}
body {
  font-family: 'Montserrat', sans-serif;
/*   background: #26282f;  */
  color: white;
  text-align: center;
  margin:0px;
  font-size:15px;
  display: flex;
  overflow-x:hidden!important;
  background: #1b1c21;
}
#main{
  width:100%;
  position:relative;
  overflow-x:hidden!important;
}
#navbar{
  display: flex;
  /* justify-content: flex-end; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background:#26282f;
  color:white;
/*   flex-direction:row;
  justify-content:space-between; */
  padding:1rem;
/*   text-align:center; */
  height:50px;
  width:100%;
  box-shadow:0px 1px 5px rgba(6, 6, 6, 0.16);
  z-index:999;
}
.image-header{
  float:left;
  width:50%;
  display: flex;
  justify-content: flex-start;
  padding-left:2rem;
  z-index:9999;
}
.nav-links{
  float:left;
  width:40%;
  padding:1rem;
  display: flex;
  justify-content: space-evenly;
  font-size:12px;
  font-weight:700;
}
a.nav-link{
  cursor: pointer;
  color:white;
  text-decoration: unset;
}
a.nav-link:hover{
  color:#CBF175;
  border-bottom:1px solid #CBF175;
  transition:0.5s ease-in;
}
#welcome-section{
  background:#26282f;
  min-height:100vh;
  display: flex;
  justify-content: center;
  width:100%;
}

#about{
  background:#1b1c21;
  min-height:90vh;
  display:flex;
  justify-content:space-evenly;
  width:100%;
}
#projects{
  background:#26282f;
  display:flex;
  min-height:100vh;
  justify-content:space-evenly;
  width:100%;
}
#services{
  background:#1b1c21;
  /* min-height:50vh; */
  display:flex;
  justify-content:space-evenly;
  width:100%;
  padding-bottom:3rem;
}
#contact{
  background:#26282f;
  min-height:50vh;
  display:flex;
  justify-content:space-evenly;
  width:100%;
}

.fontss{
  display:flex;
/*   width:50%; */
  justify-content:center;
  flex-direction:row;
  margin:6% auto;
  position:absolute;
  margin-left:50%;
}
.uiux, .webdev{
  flex-direction:column;
  margin-top:-2%;
  position:absolute;
}
.uiuxitem {
  font-size:450%;
  font-weight:900;
  text-shadow: 10px 10px 40px rgba(0, 0, 0, 0.6);
  color:#26282f;
  margin:0% auto;
}
.uiuxitem{
  font-size:900%;
/*   margin-left:-50%; */
  line-height:0.6
}

.welcome-info{
/*   margin-top:-10%; */
  padding:1rem;
  float:center;
  width:100%;
  /* margin:10% auto; */
/*   margin-left:25%; */
  position:relative;
  z-index:9;
  top:35vh;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.welcome-text1{
  font-size:300%;
  text-transform:uppercase;
}
/* .welcome-text1:not(.hide).reveal-index-nav {
  opacity: 1;
  transition: opacity .78s cubic-bezier(.33,0,.2,1) .25s;
}
.welcome-text1:not(.hide) {
  opacity: 0;
  will-change: opacity;
} */

.welcome-text2{
  font-size:120%;
  font-weight:300;
  color:#9aa5b8;
  width:70%;

}

.myphoto{
  float:left;
  width:40%;
  padding:5rem;
}

.mytext{
  float:left;
  width:60%;
  display:flex;
  flex-direction:column;
  padding:5rem 2rem 0rem 0rem;
  justify-content:flex-start;
  text-align:left;
  /* margin:5% auto; */
  margin-top: -1%;
  align-items:center;
}

.myimage {
  /* width:300px;
  height:400px; */
  width:100%;
  object-fit:cover;
  border:5px solid #141414;
  box-shadow: inset 3px 4px 5px #1c1c1c;
/*   box-shadow: 0px 5px 10px #1c1c1c; */
  /* filter: grayscale(100%) ;
  -webkit-filter: grayscale(100%); */
  /* margin:10% auto; */
  max-width: 100%;
  position: relative;
   top:10%;
}

.paragraph{
  width:80%;
  padding:1rem 1rem 1rem 0rem;
  text-align:left;
  font-weight:400;
  color:#9aa5b8;
  line-height:2;
  font-size:90%;
}

#aboutmeheader{
  font-size:300%;
  padding:1rem 3rem 1rem 0rem;
  font-weight:800;
  margin:unset;
  text-align: left;
}

.sectionheader {
  float:left;
  /* width:50%; */
  text-align:left;
  font-size:400%;
   padding:1rem;
  margin-left:10%;
  font-weight:800;
  /* margin-bottom: unset; */
}
a.timeline__event__title {
  text-decoration: none;
}
.timeline__event__content:hover {
  box-shadow:0px 0px 10px #CBF175!important;
}
.project-tile{
  float:left;
  width:100%;
/*   padding:2rem; */
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin-top:-4%;
  padding-bottom:3rem;
}
.projimage{
  float:left;
  width:40%;
  height:auto;
  object-fit:cover;
  padding:1rem;
}
.projectimage{
/*    float:left; */
  width:100%;
  height:60vh;
  object-fit:cover;
   -moz-box-shadow:    inset 0 0 60px #000000;
  -webkit-box-shadow: inset 0 0 60px #000000;
  box-shadow:         inset 0 0 60px #000000;
  filter:brightness(50%) ;
}

.projtitle{
  font-size:110%;
}
.mywork{
  font-size:60%;
  font-weight:700;
  color:#f69b3b;
  letter-spacing:1px;
}
a.projlink:hover  .projectimage{
   transition-duration: 1s;
  transform: scale(1.02);
  filter:brightness(80%) ;
}

.skills{
  float:left;
  width:80%;
  padding:1rem;
  margin-top:-2%;
  margin-left:10%;
  text-align:left;
  color:#9aa5b8;
  font-size:110%;
  letter-spacing:0.5px;
}
.tools{
  float:left;
  width:80%;
  padding:1rem;
  margin-top:-2%;
  margin-left:10%;
  text-align:left;
  font-weight:600;
  font-size:90%;
  letter-spacing:1px;
}

#profile-link{
  float:left;
  width:20%;
  padding:1rem;
  margin-left:10%;
  text-align:left;
  font-size:80%;
  letter-spacing:1px;
  color:#9aa5b8;
  text-decoration:none;
}
#profile-link:hover{
  font-weight:700;
}

.contactinfo {
  display:flex;
  flex-direction:row;
  width:100%;
  justify-content:space-evenly;
}

.contactsection{
  width:20%;
  float:left;
  display:flex;
  flex-direction:column;
  text-align:center;
}
.contactimg{
  float:center;
  margin-left:45%;
  width:8%;
  padding:1rem 0rem 1rem 0rem;
  height:auto;
  object-fit:cover;
}

a.contactpar{
  float:left;
  font-weight:800;
  letter-spacing:1px;
  padding-bottom:2rem;
  color:white;
  text-decoration:none;
  width:100%;
  overflow:wrap;
}

a.contactpar:hover, a.contactpar:focus {
  color: #cbf175;
}

.footnote{
  color:#9aa5b8;
  opacity:0.6;
  font-size:80%;
  padding:1rem;
  padding-top:2rem;
  position: relative;
  bottom:0;

}

.servicewrap{
  display:flex;
  flex-direction:column;
  width:100%;
}

#nav:checked + .nav-btn{
	transform:rotate(45deg);
}

#nav:checked+.nav-btn i {
	background:white;
	transition:transform 0.2s ease;
}

#nav:checked+ .nav-btn i:nth-child(1){
	transform:translateY(6px) rotate(180deg);
}
#nav:checked+ .nav-btn i:nth-child(2){
	opacity:0;
}
#nav:checked+ .nav-btn i:nth-child(3){
	transform:translateY(-6px) rotate(90deg);
}
a.nav-link:focus ~ .nav-links a{
	opacity:0;
	transform:translateX(-20px);
}

a.nav-link:focus ~ .nav-links{
	z-index:-10;
	opacity:0;
}
#nav:checked~.nav-links{
	z-index:9990;
	opacity:1;
}

#nav:checked~ .nav-links a{
	opacity:1;
	transform:translateX(0);
}

#nav:checked~ .nav-links {
	display: flex;
}

.hidden{
	display:none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 35px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  color: #555;
}

/* animation  */

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ----- */
.project-info {
    padding: 1rem;
    text-align: left;
    width: 100%;
}

.project-name {
    font-size: 3rem;
    font-weight: bold;
}


.project-process {
    padding: 1rem;
    width: 100%;
    text-align: left;
}

.process-header {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
}

.process-step {
    margin-bottom: 2rem;
}

.step-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.step-description {
    font-size: 1.2rem;
    text-align: left;
}

.project-visuals {
    padding: 1rem;
    width: 100%;
    text-align: left;
}

.visuals-header {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1rem;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.about-section {
    position: relative;
}

.rectangle {
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: #F5F5DC;
    top: -20px;
    left: -50px;
    z-index: -1;
    animation: move-rectangle 1s ease-in-out;
}

.rectangle:nth-of-type(2) {
    top: -30px;
    left: 50px;
    animation-delay: 0.2s;
}

.rectangle:nth-of-type(3) {
    top: 200px;
    left: -100px;
    animation-delay: 0.4s;
}

.rectangle:nth-of-type(4) {
    top: 250px;
    left: 150px;
    animation-delay: 0.6s;
}

.myphoto {
    position: relative;
    z-index: 1;
    animation: move-photo 1s ease-in-out 0.8s;
}

.laptop {
  display: flex;
}

.mobile {
  display:none;
}

#welcome-projects{
  min-height:50vh;
  display: flex;
  justify-content: center;
  width:100%;
  background: #767372;
}
.projectTopImage{
  position:relative;
  width:100%;
  /* height:100%; */
  object-fit:cover;
  /* filter: brightness(60%); */
  transform: scale(0.8);
  -webkit-transform: scale(0.8);/* Safari & Chrome */
  -moz-transform: scale(0.8); /* Firefox */
  -ms-transform:scale(0.8);/* Internet Explorer */
  -o-transform: scale(0.8);
  opacity: 0.8;
  overflow-x: visible;
  height:90vh;
}

.aboutparagraph {
  display:flex;
  padding:5rem;
  margin-top:5%;
  flex-direction:column;
  justify-content:center;
  /* position: relative; */
  flex:2;
  padding-top: 2rem;
  padding-bottom: 7rem;
  align-items:center;
}
.projectsName {
  text-transform:uppercase;
  text-shadow: 1px 1px 10px #0A0A0A;
  font-size:2.2em;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-top:30vh;
}

.fonts2{
  font-size:18px;
  font-weight: 200;
  letter-spacing: 0.2em;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 1px #0A0A0A;
  background: rgba(39,40,46,0.5);
  padding:1rem;
}

.project-description {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.details {
  flex:1;
}
.project-description .paragraph{
  width:unset;
  flex:1;
  padding:1rem;
  margin-top: unset;
}
.background{
  display:flex;
  justify-content:space-evenly;
  width:100%;
  padding-top:2rem;
  padding-bottom:2rem;
}
.userresearch{
  display:flex;
  justify-content:space-evenly;
  width:100%;
  background: #27282E;
  padding-top:2rem;
  padding-bottom:2rem;
}

.backgrounddetails{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top:1rem;
}
.processimg {
  width:50%;
  height:auto;
  align-items: center;
}
.titletextblock{
  display: flex;
  flex-direction: column;
  flex:1;
  padding-right: 2rem;
  padding-left: 2rem;
  /* justify-content: center; */
  align-items: center;
}
.quotebox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.quote {
  float: left;
  width: 60%;
  text-align: center;
  color: white;
  font-style: italic;
padding-left:2rem;
padding-right:2rem;
}
.rowbox{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.columnbox{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.titletextblock .projtitle{
  text-align: left;
  padding-left: 4rem;
  padding-right:4rem;
}

@media screen and (max-width: 900px){
  .projectsName{
    transform: scale(0.7);
    -webkit-transform: scale(0.7);/* Safari & Chrome */
    -moz-transform: scale(0.7); /* Firefox */
    -ms-transform:scale(0.7);/* Internet Explorer */
    -o-transform: scale(0.7);
    margin-top:20vh;
}
  #projectsTextImage{
      padding-left:2rem;
      padding-right:2rem;
  }
}

@media screen and (max-width: 500px){
  .fonts2 {
      transform:scale(0.7);
      -webkit-transform: scale(0.7);/* Safari & Chrome */
      -moz-transform: scale(0.7); /* Firefox */
      -ms-transform: scale(0.7); /* Internet Explorer */
      -o-transform: scale(0.7);
      margin-top:-10%;
  }
}

.timelinesection {
  background-color:#27282E; 
  height:400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  position: relative;
  transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4); 
  -ms-transform:scale(0.4);
  -o-transform: scale(0.4);
  /* transform-origin: 0 0; 
  -webkit-transform-origin: 0 0; 
  -ms-transform-origin: 0 0;
   -moz-transform-origin: 0 0; */
}
.timeline__event {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  margin: 20px 0;
  border-radius: 6px;
  align-self: center;
  width: 50vw;
   transform: scale(0.8);
  -webkit-transform: scale(0.8);/* Safari & Chrome */
  -moz-transform: scale(0.8); /* Firefox */
  -ms-transform:scale(0.8);/* Internet Explorer */
  -o-transform: scale(0.8);
}
.timeline__event:nth-child(2n+1) {
  flex-direction: row-reverse;
}
.timeline__event:nth-child(2n+1) .timeline__event__date {
  border-radius: 0 6px 6px 0;
}
.timeline__event:nth-child(2n+1) .timeline__event__content {
  border-radius: 6px 0 0 6px;
}
.timeline__event:nth-child(2n+1) .timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #ffff;
  position: absolute;
  top: 0%;
  left: 50%;
  right: auto;
  z-index: -1;
  transform: translateX(-50%);
  -webkit-animation: fillTop 2s forwards 4s ease-in-out;
          animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event:nth-child(2n+1) .timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #ffff;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  -webkit-animation: fillLeft 2s forwards 4s ease-in-out;
          animation: fillLeft 2s forwards 4s ease-in-out;
}
.timeline__event__title {
  font-size: 1.8rem;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffff;
  letter-spacing: 1.5px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.20);
}
.timeline__event__content {
  padding: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  background: #1b1c21;
  width: calc(40vw - 84px);
  border-radius: 0 6px 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline__event__date {
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 600;
  background: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  border-radius: 6px 0 0 6px;
}
.timeline__event__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  padding: 20px;
  align-self: center;
  margin: 0 20px;
  background: #ffff;
  border-radius: 100%;
  width: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 40px;
  height: 40px;
  position: relative;
}
.timeline__event__icon i {
  font-size: 12px;
}
.timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #ffff;
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: fillTop 2s forwards 4s ease-in-out;
          animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #ffff;
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  -webkit-animation: fillLeftOdd 2s forwards 4s ease-in-out;
          animation: fillLeftOdd 2s forwards 4s ease-in-out;
}
.timeline__event__description {
  flex-basis: 100%;
}
.timeline__event--type2:after {
  background: #9aa5b8;
}
.timeline__event--type2 .timeline__event__date {
  color: #9aa5b8;
  background: #9aa5b8;
}
.timeline__event--type2:nth-child(2n+1) .timeline__event__icon:before, .timeline__event--type2:nth-child(2n+1) .timeline__event__icon:after {
  background: #9aa5b8;
}
.timeline__event--type2 .timeline__event__icon {
  background: #9aa5b8;
  color: #9aa5b8;
}
.timeline__event--type2 .timeline__event__icon:before, .timeline__event--type2 .timeline__event__icon:after {
  background: #9aa5b8;
}
.timeline__event--type2 .timeline__event__title {
  color: #9aa5b8;
}
.timeline__event--type3:after {
  background: #ffff;;
}
.timeline__event--type3 .timeline__event__date {
  color: #ffff;
  background-color: #ffff;
}
.timeline__event--type3:nth-child(2n+1) .timeline__event__icon:before, .timeline__event--type3:nth-child(2n+1) .timeline__event__icon:after {
  background: #9aa5b8;
}
.timeline__event--type3 .timeline__event__icon {
  background: #9aa5b8;
  color: #9aa5b8;
}
.timeline__event--type3 .timeline__event__icon:before, .timeline__event--type3 .timeline__event__icon:after {
  background: #9aa5b8;
}
.timeline__event--type3 .timeline__event__title {
  color: #9aa5b8;
}
.timeline__event:last-child .timeline__event__icon:before {
  content: none;
}

@media (max-width: 786px) {
  .timelinesection {
    height:650px;
  }
  .timeline__event {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event__content {
    width: 100%;
  }
  .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .timeline__event__icon:before, .timeline__event__icon:after {
    display: none;
  }
  .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n+1) {
    flex-direction: column;
    align-self: center;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline__event:nth-child(2n+1) .timeline__event__icon {
    border-radius: 6px 6px 0 0;
    margin: 0;
  }
}
@-webkit-keyframes fillLeft {
  100% {
    right: 100%;
  }
}
@keyframes fillLeft {
  100% {
    right: 100%;
  }
}
@-webkit-keyframes fillTop {
  100% {
    top: 100%;
  }
}
@keyframes fillTop {
  100% {
    top: 100%;
  }
}
@-webkit-keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}
@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}


@media screen and (max-width:980px) and (min-width:768px){
  .myimage{
    width:200px;
    height:300px;
    top:20%;
  }
  .projectimage{
    height:20vh;
  }
  #projects{
    min-height: 50vh;
  }
}

@media screen and (max-width:980px){
  /* .myimage{
    height:50%;
    top:25%;
  } */
  .contactinfo {
    display:flex;
    flex-direction:column;
    width:100%;
    justify-content: center;
  }
  .contactsection{
    width:50%;
    margin-left: 25%;
  }

}
.logo{
  width:60px;
  height:60px;
}

@media screen and (max-width:810px){
  #about{
    min-height: 70vh !important;
  }
}
 @media screen and (max-width:768px){
  .myimage{
    width:90px;
    height:120px;
  }
  #about {
    flex-direction:column;
    justify-content:center;
  }
 .mytext{
    width:80%;
    float:center;
    /* justify-content:center; */
    text-align: center;
    /* margin-top:-40%; */
    padding:2rem 0rem 0rem 0rem;
    margin-left:10%;
 }
  .paragraph{
    /* text-align: center; */
    /* width: 100%; */
    /* margin-left: 10%; */
  }
  #aboutmeheader{
    width: 100%;
  }
  .fontss{
    margin-left: 0% !important;
   }
  .welcome-info{
     padding:2rem;
   }
   .uiuxitem{
    font-size: 700%;
      }
     .myphoto{
    float:center;
    padding:0;

    padding-top:3rem;
   }
    .project-tile{
    float:center;
    width:100%;
    flex-direction:column;
    justify-content:space-evenly;

  }
  .projimage{
    float:center;
    width:100%;
    height:auto;
    object-fit:cover;
    padding:0rem;
  }
  .projectimage{
    width:80%;
  }
  .projectimage{
    height:30vh;
  }
  .mywork{
    padding:1rem;
  }
}
@media screen and (max-width:700px){
  .projectTopImage {
    object-fit: contain;
    width:unset;
    transform: scale(0.5);
    -webkit-transform: scale(0.5);/* Safari & Chrome */
    -moz-transform: scale(0.5); /* Firefox */
    -ms-transform:scale(0.5);/* Internet Explorer */
    -o-transform: scale(0.5);
  }
  video {
    width:90%;
  }
  #about, #projects, #contact {
    min-height: 10vh !important;
  }
  #services {
    /* min-height: 40vh!important;
    height:50vh; */
  }
  #profile-link{
    width:30%;
  }
  .rowbox, .project-description{
    flex-direction: column!important;
    align-items: center!important;
  }
  .laptop {
    display:none;
  }
  .mobile {
    display: block;
  }
  #aboutmeheader {
    text-align: center;
    padding-left: unset!important;
    padding-right: unset!important;
  }
  #aboutmetextblock{
    align-items: center!important;
  }
  .processimg {
    width:90%!important;
    padding:unset!important;
  }
  .mobile2{
    width:40%!important;
    padding-top:2rem!important;
  }
  .mobile3{
    padding-top:1rem!important;
  }
  .projtitle {
    padding-left:2rem!important;
    padding-right:2rem!important;
    padding-top:1rem;
  }
  .projectsName{
    margin-top: 15vh;
  }
  .titletextblock{
    padding:unset;
  }
  .mywork{
    padding-top:0rem;
    padding-bottom:2rem;
  }
  .project-tile {
    padding-bottom:unset;
  }
  /* .paragraph {
    padding-left:1rem!important;
    padding-right:1rem!important;
  } */
}
@media screen and (max-width:480px){
  .sectionheader{
    font-size:200%;
    padding:0rem;
    margin-left:unset;
    text-align: center;
    align-self: center;
  }
  .skills, .tools, #profile-link {
    margin-left:5% ;
    font-size: 50%;
  }
  #profile-link {
    width:50%;
  }

}
@media screen and (max-width:450px){
  .contactpar{
    font-size:60%;
  }
  #emailtext{
    margin-left: -5%;
  }
  .projectimage{
    height:20vh;
  }
   /* #about, #projects, #contact {
    min-height: 10vh !important;
  }
  #services {
    min-height: 30vh!important;
    height:30vh;
  } */
}

@media screen and (max-height:600px) {
  .projectimage{
    height:70vh;
  }
  #services{
    height:auto;
    /* min-height: 50vh !important;; */
  }
}

@media screen and (max-width: 864px){
	.image-header {
		/* padding:0; */
		float:center;
  }
	.nav-links{
		position:fixed;
		top:0;
		right:0;
		width:60%;
		height:100%;
		z-index:-1;
		background:#26282f;;
		opacity:0;
		transition:all 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    display:none;
	}
	.nav-links  a.navlink{
		position:absolute;
		top:50%;
		transform:translateY(-50%);
		width:100%;
	}

	.nav-links  a.navlink{
		display:block;
		float:none;
		width:100%;
		text-align:right;
		margin-bottom:10px;
	}
	a.nav-link:hover{
    color:#CBF175;
    border-bottom:unset;
    transition:0.5s ease-in;
  }
  .nav-links a.nav-link:active , .nav-links a.nav-link:focus{
    color:#CBF175;
    border-bottom:unset;
  }
	.nav-links a.navlink:nth-child(1) a{
		transition-delay:0.2s;
	}
	.nav-links  a.navlink:nth-child(2) a{
		transition-delay:0.3s;
	}
  .nav-links  a.navlink:nth-child(3) a{
		transition-delay:0.4s;
	}
  .nav-links  a.navlink:nth-child(4) a{
		transition-delay:0.5s;
	}
  .nav-links  a.navlink:nth-child(5) a{
		transition-delay:0.6s;
	}
  .nav-links  a.navlink:not(:first-child){
		margin-left:0;
	}
  .nav-links a{
		padding:10px 24px;
		opacity:0;
		color:white;
		font-size:250%;
		font-weight:600;
		letter-spacing:1.2px;
		transform:translateX(-20px);
		transition:all 0.2s ease;
		font-family:inherit;
	  position: relative;
    left:20%;
    padding-bottom:1rem;
    padding-left:1rem;
	}
		/*cross*/
	.nav-btn{
		position:fixed;
		right:10px;
		top:10px;
		display:block;
		width:48px;
		height:48px;
		cursor: pointer;
		z-index:9999;
		border-radius:50%;
	}
	.nav-btn i{
		display:block;
		width:20px;
		height:2px;
		background:white;
		border-radius:2px;
		margin-left:14px;

	}
	.nav-btn i:nth-child(1){
		margin-top:16px;
	}
	.nav-btn i:nth-child(2){
		margin-top:4px;
		opacity:1;
	}
	.nav-btn i:nth-child(3){
		margin-top:4px;
	}
}
